* {
    margin: 0;
    padding: 0;

}

.container {
    height: auto;
    padding: 12px;
    margin: 20px auto;

}

th {
    color: rgb(50, 58, 73) !important;
}

td {
    color: rgb(70, 104, 165);
}



.delete {
    border: none;
    color: rgb(70, 104, 165) !important;

}

.MdModeEdit {
    color: rgb(70, 104, 165) !important;
}