form {
    margin: auto;
    width: 70%;
    padding: 16px;
}

.form-group {
    margin: auto;
    padding: 16px;
}

.userNameDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.userName {
    width: 38% !important;
}


.save {
    width: 100%;
    font-size: 16px !important;
    padding: 16px !important;
}

label {
    color: rgb(65, 119, 121);
    font-weight: 700;
}

.gender {
    font-weight: 400 !important;
}

input {
    color: rgb(57, 74, 100);
}

