.wrapper {
    border: black solid 1px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.btn {
    padding: 20px !important;
    width: 25%;
    font-size: 25px !important;
}


.user,
.user:hover {
    text-decoration: none;
    color: blanchedalmond;
    width: 25%;
    padding: 20px !important;
}

.back,
.back:hover {
    text-decoration: none;
    color: rgba(48, 64, 92, 0.863);
    padding: 10px !important;
    font-size: 20px !important;
}

.arrow {
    width: 60px !important;
}

.navbar-item {
    width: 100px;
    height: auto;
}

h3 {
    padding: 10px !important;
    font-size: 20px !important;
    position: relative;
    left: 30px !important;
    margin-top: 2px !important;
    vertical-align: middle;
    color: cornflowerblue;
}

h4,
.ImArrowLeft {
    color: rgba(48, 64, 92, 0.863);
}