.wrapper {
    border: black solid 1px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.btn {
    padding: 20px !important;
    width: 25%;
    font-size: 25px !important;
}


.user,
.user:hover {
    text-decoration: none;
    color: blanchedalmond;
    width: 25%;
    padding: 20px !important;
}

.back,
.back:hover {
    text-decoration: none;
    color: rgb(44, 38, 28);
    padding: 10px !important;
    font-size: 20px !important;
}

.navbar-item{
    width: 60px;
    height: auto;
}

h3 {
    padding: 10px !important;
    font-size: 20px !important;
    position: relative;
    left: 30px !important;
    line-height: 2 !important;
}